{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Простой пример зафиксированного подвала </h1>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
{% endblock %}
