{% extends "base.html" %}

{% block title %}test{% endblock %}

{% block content %}
<div class="test">
    <h1 class="toptext">Простой пример зафиксированного подвала </h1>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
    <p>This text is additional</p>
</div>
{% endblock %}
